<form class="nodrop">
    <div class="form-group">
        <ol id="levels-list" class="directory-list"></ol>
    <div id="levels-ui-controls">
        <i class="fas fa-users"></i>
        <i class="fas fa-plus"></i>
        <i class="far fa-edit"></i>
        <i class="fas fa-map"></i>
        <i class="fas fa-trash"></i>
    </div>
    </div>
    </div>
</form>