body.dragging, body.dragging * {
    cursor:-webkit-grabbing !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

#levelsUI .placeholder {
    height: 0.3rem;
    background: var(--color-text-light-2);
  }

#levelsUI .window-content{
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.356);
}

#levelsUI ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

#levelsUI li{
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);

}

#levelsUI li:hover{
    background: rgba(255, 255, 255, 0.288);
}

#levelsUI li.active{
    background: rgba(255, 255, 255, 0.534);
}

#levelsUI ol{
    width: 100%;
}

#levelsUI .form-group{
    display: flex;
    flex-direction: column;
    height: 96%;
}

#levelsUI input{
    border-radius: 0px;
    color: var(--color-text-light-2);
    height: auto !important;
    border: none;
    background: transparent;
    text-shadow: 0 0 5px black;
}

#levelsUI .level-name{
    text-overflow: ellipsis;
}

#levelsUI li .fas{
    color: var(--color-text-light-2);
    align-self: center;
    font-size: 10px;
}   

#levelsUI li .fa-caret-right{
    color: transparent;
} 

#levelsUI li .fas.active{
    margin-left: 0.3rem;
    color: var(--color-text-light-2);
}

#levelsUI li .fa-trash,#levelsUI .fa-arrows-alt{
    color: #f94848;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    display: none;
}

#levelsUI li .fa-arrows-alt{
    cursor: -webkit-grab;
}

#levelsUI li .fa-trash.hidden,#levelsUI li .fa-arrows-alt.hidden{
    display: inline;
}
#levelsUI li .fa-trash:hover{
    cursor: pointer;
    text-shadow: 0 0 5px var(--color-text-light-2);
}

#levelsUI input::placeholder{
    color: var(--color-text-light-2);
    opacity: 0.5;
}

#levelsUI input:focus{
    box-shadow: 0 0 0 rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.356);
}

#levelsUI input:read-only{
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.level-inputs{
    display: flex;
    width: -webkit-fill-available;
}

.level-name{
    min-width: 1rem !important;
}

.level-top{
    width: 2.5rem !important;
}

.level-bottom{
    width: 2.5rem !important;
}

.level-indicator{
    border-radius: 50%;
    background-color: blueviolet;
    align-self: center;
    width: 0.6rem;
    height: 0.6rem;    
}

#levels-ui-controls{
    display: flex;
    color: var(--color-text-light-2);
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

#levels-ui-controls i:hover{
    cursor: pointer;
    text-shadow: 0 0 5px var(--color-text-light-2);
}

#levels-ui-controls i.active{
    color: var(--color-border-highlight);
}

#levels-ui-controls i.active:hover{
    text-shadow: 0 0 5px var(--color-shadow-highlight);
}

#levelsUI .players-on-level{
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    min-width: fit-content;
    display: none;
}

#levelsUI .players-on-level.active{
    display: flex;
}

#levelsUI .player-portrait{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border-width: medium;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: var(--color-text-light-2);
    cursor: pointer;
}

/** Tooltip **/

#levels-tooltip {
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
    justify-items: start;
    align-content: start;
    justify-content: start;
    padding: 3px 0;
    color: #f1f1f1;
    border: 2px solid;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.6);
  }
  #levels-tooltip span {
    padding: 0 3px;
    text-align: left;
  }

  #levels-elevator .button {
    margin: 5px 0;
}